* {
	margin: 0;
	padding: 0;
}

body{
	margin: 10px auto;
	color: #222;
	font-family: arial;
	line-height: 27px;
	position: relative;

}

#mainNav {
	font-size: 13px;
	position: absolute;
	left: 950px;
	top: -165px;
}

#mainNav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#mainNav li {
	float: left;
	padding-right: 10px;
}

a:link, a:visited{
	color: #222;
	text-decoration: none;
	display: block;
}

a:hover, a:active{
	text-decoration: underline;
}

/* images */
.apps {
    background-image: url(images/sprite.png);
    background-position: -69px -854px;
    height: 30px;
    width: 30px;
}

.bell {
    background-image: url(images/sprite.png);
    background-position: -69px -69px;   
    height: 30px;
    width: 30px;
}

.profile {
    background-image: url(images/profile.png);
    background-size: 32px 32px;
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

#container{
	margin: 175px auto;
	width: 600px;
}

#container img{
	width: 269px;
	height: 95px;
	margin: 25px auto;
	display: block; /* got the image centered after adding this */
}

form{
	width: 600px;
	margin: 0 auto;
	text-align: center; /*adding this helps to center the form elements*/
}

input[type="text"] {
    width: 550px;
    height: 25px;
}

input[type=button] {
	background-color: #f2f2f2;
	border: solid 1px #e6e6e6;
	border-radius: 5px;
	font-size: 11px;
	font-weight: bold;
	height: 30px;
	margin: 15px 10px 0 0;
	text-align: center;
	width: 115px;
}

.buttons{
	margin: 0 auto;
	display: block;
}

footer {
	background: #f6f6f6;
	clear: both;
	/* needed to specify width and height for background color to appear */
	height:36px;
    width: 100%;
	border-top: 1px solid #E4E4E4;
	margin-top: 10px;
	position: fixed;
}

footer a{
	padding-right: 25px;
	font-size: 13px;
}

.leftFooter{
	float: left;
	margin: 5px 30px;
}

.rightFooter{
	float: right;
	margin: 5px 30px;
}

li{
	display: inline-block;
}